<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kitchen Stories</title>
  <link rel="stylesheet" href="./assets/stylesheets/kitchen.css">
  <link href="https://fonts.googleapis.com/css?family=Courgette|Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="header">
      <h1>Kitchen Essentials</h1>
    </div>
    <div class="row">
      <div class="col-1 right">
        <div class="aside">
          <i class="fa fa-facebook-official" style="font-size:24px"></i>
          <i class="fa fa-instagram" style="font-size:24px"></i>
          <i class="fa fa-pied-piper" style="font-size:24px"></i>
          <br>
          <i class="fa fa-pinterest-square" style="font-size:24px"></i>

          <i class="fa fa-twitter-square" style="font-size:24px"></i>
        </div>
      </div>

      <div class="col-9">
        <% @utensils.each do |utensil| %>
        <div class="row utensils">
          <h3><%= utensil.brand%> <%=utensil.name%></h3>
          <div class="col-6">

            <%= image_tag "#{utensil.picture}" %>
          </div>
          <div class="col-6">
            <p>DISCRIPTION: <%=  utensil.description %> </p>
            <p>Price: $<%= utensil.price %></p>
            <p>UPC: <%= utensil.upc %></p>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-2 menu">
        <ul>
          <li>shopping cart shit</li>
          <li>bitto to somthino</li>
        </ul>
      </div>




    </div>
    <div class="footer">
      <div class="row">
        <div class="col-2">
          <%= image_tag "fireplace.png", height: '40px' %>
        </div>
        <div class="col-9">
          <h3>Kitchen Essentials: Hearth, Home, Heart</h3>
        </div>
      </div>
    </div>

  </body>
</html>
